.header{
  display: flex;
  justify-content:space-between ;
  border: 1px solid;
  padding : 0px 20px
}

.logo{
  width: 100px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul >li {
  padding : 10px;
  list-style-type: none;
  font-size: 24px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.img{
  cursor: pointer;
   width: 200px;
   height: 200px;
}
.res-card:hover{
  border : 2px Solid black;
}

.res-card{
  margin:5px;
  padding: 10px;
  background-color: rgb(203, 211, 219);
}

.filter-button{
  margin: 10px;
}

.Shimmer-container{
  display:flex
}

.Shimmer-card{
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0 ;
}
